.main-heading{
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 1rem;
    padding-top: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgb(52, 46, 56);
    color: #fff;
}